.header {
    align-content: center;
    background-color: pink;
    color:black; 
    border-bottom: 5px solid black;
}

html, body {
    background-image: url("https://imgur.com/a3tVksW.jpg");
}


.content{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: pink;
    padding: 20px;
    width: 100%;
}

#display{
    width: 100%;
}
